.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  .left, .right {
    width: 50%; /* Floated elements technically need a width specified. */
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }