<div class="center">
    <div class="legend-box">
        <div class="legend">
            <div class="dot"></div>
        </div>
        <div class="legend">You</div>
    </div>

    <div class="container">
        <div class="plot" style="--x: {{xValue}}; --y: {{yValue}};">
            <div class="x-axis"></div>
            <div class="y-axis"></div>
            <div class="quadrant-label" id="q1">Flow</div>
            <div class="quadrant-label" id="q2">Comfort</div>
            <div class="quadrant-label" id="q3">Apathy</div>
            <div class="quadrant-label" id="q4">Fear</div>
            <div class="labels" id="x-label">Motivational Drivers</div>
            <div class="labels" id="y-label">
                <div class="rotated">Psychological Safety</div>

            </div>
            <div class="dot" id="placed"></div>
        </div>
    </div>
</div>